.png {
  display: flex;
  justify-content: center;
}

/* MOBILE (default) */
.content {
  .header {
    h1 {
      font-size: 24px;   // smaller for mobile
      font-weight: 600;
      text-align: center;
    }
  }

  .body {
    font-size: 16px;   // readable on phones
    font-weight: 600;
    text-align: left;

    p {
      font-weight: 500;
    }
  }
}

/* TABLET & DESKTOP */
@media (min-width: 768px) {
  .content {
    .header {
      h1 {
        font-size: 32px;
      }
    }

    .body {
      font-size: 24px;
    }
  }
}